<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- Acceso a Bodega -->
      <ion-item (click)="abrirPagina('Bodega')">
        <ion-label>Bodega</ion-label>
      </ion-item>

      <!-- Submenú para Despachos -->
      <ion-item (click)="abrirPagina('Despachos')">
        <ion-label>Despachos</ion-label>
      </ion-item>

      <ion-item (click)="navegar('Cuenta')">
        <ion-label>Cuenta</ion-label>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<!-- Resto de tu contenido principal aquí con un ion-router-outlet -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>BioImplantes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">